/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-hero-background-color);
  display: flex;
  padding: 3rem 0 5rem;
}

.logo {
  width: 8rem;
}

.title {
  font-size: 40px;
}

.subtitle {
  font-size: 32px;
}

.buttons {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flutter_text {
  color: rgb(83, 189, 247);
}

.flutter_text:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgb(83, 189, 247);;
}


.footer_container {
  margin: 100px auto 0px auto;
  padding: 50px 0;
  min-height: 100px;
  text-align: center;
  background-color: #042449;
}

.footer_container h1 {
  font-size: 40px;
  color: white;
}

.footer_container p {
  font-size: 30px;
  color: white;
}

.footer_container div {
  color: white;
}