[Desktop Entry]
Name=WebF Example
Comment=WebF Flutter Application Demo
Exec=webf_example %u
Icon=com.example.webf_example
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/webfdemo;
StartupNotify=true