[submodule "bridge/third_party/quickjs"]
	path = bridge/third_party/quickjs
	url = git@github.com:openwebf/quickjs.git
    branch = feat/official_version
[submodule "webf_apps/vue-cupertino-gallery"]
	path = webf_apps/vue-cupertino-gallery
	url = git@github.com:openwebf/vue-cupertino-gallery.git
[submodule "webf_cupertino_ui"]
	path = webf_cupertino_ui
	url = git@github.com:openwebf/webf-cupertino-ui.git
[submodule "webf_apps/miracleplus_news"]
        path = webf_apps/miracleplus_news
        url = git@github.com:openwebf/miracleplus_news.git
