.list {
  padding: 20px;
  margin: 0;
  background-color: #f8f9fa;
}

.fixedArea {
  height: 480px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  width: calc(100% - 10px);
  height: 100px;
  gap: 10px;
}

.gradientBox {
  height: 80px;
  border-radius: 4px;
}