.list {
  padding: 20px;
  margin: 0;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.backgroundGradient {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: red linear-gradient(red, blue);
}

.backgroundGradientHex {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: red linear-gradient(#ff0000, #0000ff);
}

.backgroundGradientToTop {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: red linear-gradient(to top, red, blue);
}

.backgroundGradientToBottom {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 0.5) linear-gradient(to bottom, red, blue);
}

.backgroundGradientToLeft {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 0.5) linear-gradient(to left, red, blue);
}

.backgroundGradientToRight {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 0.5) linear-gradient(to right, red, blue);
}

.backgroundGradientToTopLeft {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: red linear-gradient(to top left, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.8));
}

.backgroundGradientToTopRight {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: red linear-gradient(to top right, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.8));
}

.backgroundGradientToBottomRight {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: red linear-gradient(to bottom right, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.8));
}

.backgroundGradientToBottomLeft {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  background: red linear-gradient(to bottom left, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0.8));
}

.backgroundGradientGrad1Mix,
.backgroundGradientGrad2Mix,
.backgroundGradientGrad3Mix,
.backgroundGradientGrad4Mix,
.backgroundGradientGrad5Mix,
.backgroundGradientGrad6Mix,
.backgroundGradientGrad7Mix,
.backgroundGradientGrad8Mix {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 300px;
  height: 100px;
  border: 1px solid red;
}

.backgroundGradientGrad1Mix {
  background-image:
    url("../../resource/bg_flower.gif"),
    linear-gradient(to bottom, green, pink),
    linear-gradient(to bottom left, red, yellow, blue);
  background-size: 50px auto;
  background-repeat: repeat, no-repeat;
}

.backgroundGradientGrad2Mix {
  background-image:
    url("../../resource/bg_flower.gif"),
    linear-gradient(to bottom, green, pink),
    linear-gradient(to top left, red, yellow, blue);
  background-size: auto 50px;
  background-repeat: repeat, no-repeat;
}

.backgroundGradientGrad3Mix {
  background-image:
    url("../../resource/bg_flower.gif"),
    linear-gradient(to bottom, green, pink),
    linear-gradient(to top right, red, yellow, blue);
  background-size: 50px 50px;
  background-repeat: repeat, no-repeat;
}

.backgroundGradientGrad4Mix {
  background-image:
    url("../../resource/bg_flower.gif"),
    linear-gradient(to bottom, green, pink),
    linear-gradient(to bottom right, red, yellow, blue);
  background-size: 50px auto;
  background-repeat: repeat, no-repeat;
}

.backgroundGradientGrad5Mix {
  background-image:
    url("../../resource/bg_flower.gif"),
    linear-gradient(to bottom, green, pink),
    linear-gradient(to left, red, yellow, blue);
  background-size: contain, 150px;
  background-repeat: repeat, no-repeat;
}

.backgroundGradientGrad6Mix {
  background-image:
    url("../../resource/bg_flower.gif"),
    linear-gradient(to bottom, green, pink),
    linear-gradient(to left, red, yellow, blue);
  background-size: 150px, 100px, 100px;
  background-repeat: repeat, no-repeat;
}

.backgroundGradientGrad7Mix {
  background-image:
    url("../../resource/bg_flower.gif"),
    linear-gradient(30deg, red, yellow, blue),
    linear-gradient(60deg, red, yellow, blue);
  background-size: 150px, 100px, 100px;
  background-repeat: repeat, no-repeat, repeat;
}

.backgroundGradientGrad8Mix {
  background-image:
    url("../../resource/bg_flower.gif"),
    linear-gradient(-0.9rad, red, yellow, blue),
    linear-gradient(-0.4rad, red, yellow, blue);
  background-size: 50px, 100px, 100px;
  background-repeat: repeat, no-repeat, repeat;
}