.list {
  padding: 20px;
  margin: 0;
  background-color: #f8f9fa;
}

.fixedArea {
  height: 480px;
  flex-direction: column;
}

.head {
  justify-content: space-around;
  font-size: 1.5em;
}

.text {
  font-size: 0.8em;
}

.row {
  justify-content: space-around;
  margin-top: 5px;
  display: flex;
}

.box {
  margin: 0px 5px;
  background: yellow;
}

.size0 {
  width: 160px;
  height: 40px;
}

.size1 {
  width: 100px;
  height: 50px;
}

.size2 {
  width: 50px;
  height: 50px;
}

.colorWidthSame {
  border-width: 7px;
  border-color: red;
}

.colorWidthDiff0 {
  border-left-width: 4px;
  border-right-width: medium;
  border-top-width: 0.5px;
  border-bottom-width: 10px;
  border-color: red blue blue red;
}

.colorWidthDiff1 {
  border-left-width: 1px;
  border-right-width: 3px;
  border-top-width: 10px;
  border-bottom-width: 5px;
  border-color: green red;
}

.styleDiff0 {
  border-style: dashed double groove;
}

.styleDiff1 {
  border-style: dotted inset ridge outset;
}

.styleDiff2 {
  border-style: double ridge;
}