.list {
  padding: 20px;
  margin: 0;
  background-color: #f8f9fa;
}

.headerTitle {
  font-size: 34px;
  font-weight: 900;
  text-align: center;
}

.colorWidth {
  border-width: 5px;
  border-style: solid;
  border-color: green red;
}

.wrapper {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
}

.wrapper > * {
  padding: 10px;
  text-align: center;
}

.footer {
  background: lightgreen;
  flex: 1 100%;
}

.main {
  background: deepskyblue;
  flex: 1 100%;
}

.aside1 {
  background: gold;
  flex: 1 0 0;
}

.aside2 {
  background: hotpink;
  flex: 2 0 0;
}